/* tag selector */
body {
  display: grid;
  place-items: center;
  background-color: hsla(0, 0%, 53%, 0.411);
  font-family: "Poppins";
  background-color: #e5e5f7;
  background-color: #e3e3ec;
  background-image: radial-gradient(circle at center center, #3e4376, #e3e3ec),
    repeating-radial-gradient(
      circle at center center,
      #3e4376,
      #3e4376,
      40px,
      transparent 80px,
      transparent 40px
    );
    background-blend-mode: multiply;
}

label,
input {
  display: flex;
  flex-direction: column;
  margin: 5px 15px 5px 0px;
}

label {
  font-size: 13px;
  font-weight: bold;
  color: hsl(0, 1%, 44%);
  letter-spacing: 2px;
}

input {
  height: 53px;
  width: 120px;
  border-radius: 7px;
  border: 0.5px solid hsl(0, 1%, 44%);
  padding-left: 18px;
  font-weight: 800;
  font-size: 20px;
}
ul {
  padding: 0px;
  margin: 0;
}

p {
  font-size: 2.2rem;
}

input ::placeholder {
  color: hsl(0, 1%, 44%);
}

input:focus {
  outline: none;
}

.calculator div {
  display: inline-block;
}

button {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 45px;
  background-color: hsl(259, 100%, 65%);
}

hr {
  margin: 21px 0px;
  width: 535px;
  display: inline-block;
}

/* id selector */

/* class selector */

.calculator {
  background-color: hsl(0, 0%, 100%);
  padding: 40px;
  border-radius: 30px 30px 130px 30px;
  box-shadow: 2px 2px 40px rgba(238, 118, 118, 0.986);
  margin: 100px 0px;
  align-items: left;
}

.calculator .line {
  display: block;
}

.line1 {
  font-size: 5rem;
  margin: 0;
  font-style: italic;
  line-height: 1;
}
span {
  font-size: 5.5rem;
  line-height: 1;
  margin: 0;
  letter-spacing: 20px;
  padding: 0;
  scale: 0.9 1.1;
  color: hsl(259, 100%, 65%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.error {
  font-size: 12px;
  margin: 2px;
  display: inline-block;
  word-spacing: 3px;
  font-weight: 100;
  color: hsl(0, 100%, 67%);
}

@media only screen and (max-width: 500px) and (min-width: 400px) {
  hr {
    width: 392px;
    position: absolute;
    z-index: 0;
  }
  .line1 {
    font-size: 4.5rem;
  }
  input {
    width: 104.2px;
    margin: 0;
  }
  span {
    font-size: 4.5rem;
  }
  .line1 {
    font-size: 4rem;
  }
  .calculator .line {
    display: grid;
    place-items: center;
  }
  button {
    position: relative;
    margin: 19px 0 5px 0;
  }
}
